<div id="chat_messages" hx-swap-oob="beforeend">

<div class="fade-in-up">{% include 'a_rtchat/chat_message.html' %}</div>

<style>
  @keyframes fadeInAndUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-in-up {
    animation: fadeInAndUp 0.5s ease;
  }
</style>

<script>scrollToBottom(100)</script>

</div>


{% with user=message.author %}
  {% if user in chat_group.users_online.all %}
    <div class="green-dot border-2 border-gray-800 absolute -bottom-1 -right-2" id="user-{{user.id}}"></div>
  {% else %}
    <div class="gray-dot border-2 border-gray-800 absolute -bottom-1 -right-2" id="user-{{user.id}}"></div>
  {% endif %}
{% endwith %}